{% from "macros/fields.tmpl" import  render_input_field, render_password_field, render_checkbox_field, render_submit %}

{% block head %}
<link type="text/css" href="/static/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/js//jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/assets/prettify/prettify.js" rel="stylesheet"></script>
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<link type="text/css" href="/static/css/clockface.css" rel="stylesheet" />
<script type="text/javascript" src="/static/js/clockface.js"></script>
{% endblock %}
{% extends "shared/layout.tmpl" %}
{% block title %}Přidat skupinu skupiny{% endblock %}

{% block content %}
  <h3>Přidání skupiny</h3>
  <form method="POST" id="group-form">
    {{ form.hidden_tag() }}
    {{ render_input_field(form.group_name) }}
    {{ render_input_field(form.access_time_from) }}
    {{ render_input_field(form.access_time_to) }}
      {{ render_checkbox_field(form.Monday) }}
      {{ render_checkbox_field(form.Tuesday) }}
      {{ render_checkbox_field(form.Wednesday) }}
      {{ render_checkbox_field(form.Thursday) }}
      {{ render_checkbox_field(form.Friday) }}
      {{ render_checkbox_field(form.Saturday) }}
      {{ render_checkbox_field(form.Sunday) }}
    {{ render_submit() }}
  </form>
             <script type="text/javascript">
                $('#access_time_from').clockface();
                $('#access_time_to  ').clockface();
           </script>

{% endblock %}
