{% extends "shared/layout.tmpl" %}
{% block title %}Uživatelé ve skupinách{% endblock %}
{% block content %}
    <table class="table table-striped" id="tablesorter-demo">
        <thead>
            <tr>
                <th>Jméno skupiny</th>
                <th>Jméno čtečky</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for i in range(data|length) %}
            <tr>
                <td>{{ data[i][1] }}</td>
                <td>{{ data[i][2] }}</td>
                <td><a class="btn btn-danger" href="/groupTimecard_del/{{ data[i][0] }}">Vymazat přístup</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>




{% endblock %}