{% extends "shared/layout.tmpl" %}
{% block title %}Skupiny{% endblock %}
{% block content %}

    <table class="table table-striped" id="tablesorter-demo">
        <thead>
            <tr>
                <th>Název skupiny</th>
                <th>Přístup od</th>
                <th>Přístup do</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for zaznam in data %}
            <tr>
                <td><a href="/inGroup/{{ zaznam[0] }}/{{ zaznam[1] }}">{{ zaznam[1] }}</a></td>
                <td>{{ zaznam[2] }}</td>
                <td>{{ zaznam[3] }}</td>
                <td><a class="btn btn-primary" href="/group_edit/{{ zaznam[0] }}">Editovat</a>
                <a class="btn btn-danger" href="/group_del/{{ zaznam[0] }}">Vymaž</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>




{% endblock %}