{% from "macros/fields.tmpl" import render_input_field, render_password_field, render_checkbox_field, render_submit %}
{% extends "shared/layout.tmpl" %}
{% block title %}Dostupné měsíce{% endblock %}

{% block content %}
<style type="text/css">
.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
.tftable tr {background-color:#ffffff;}
.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
.tftable tr:hover {background-color:#ffff99;}
</style>

<table class="tftable" id="tablesorter-demo" border="1">
<tr><td>Uživatel</td><td>Měsíc</td><td>Nárok na stravenky</td></tr>
{% for m  in form %}
        <tr>
            <td>{{m.fullname}}</td>
            <td><a href=/calendar/{{m.card_number}}/{{m.year}}/{{m.month}}>{{m.time}}</a></td>
            <td>{{stravenka[form.index(m)][1]}}</td>
        </tr>
    {% endfor %}
    <table>
{% endblock %}